:root {
    --context-menu-top: 0;
    --context-menu-left: 0;
}

.ContextMenu {
    position: absolute;
    top: var(--context-menu-top);
    left: var(--context-menu-left);
    width: 260px;
    background: #3C3F41;
    border: 1px solid #5C5D5E;
}

.Hidden {
    display: none;
}

.Divider {
    height: 1px;
    width: 100%;
    background: #5C5D5E;
}

.MenuButton {
    padding: 2px;
    margin-left: 6px;
    cursor: pointer;
}

.NewButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NewButtonIcon {
    height: 21px;
}

@media screen and (max-width: 1080px) {
    .ContextMenu {
        position: fixed;
        width: 80%;
        max-width: 300px;
        top: var(--context-menu-top);
        left: 50%;
        transform: translateX(-50%);
    }

    .MenuButton {
        padding: 5px;
        margin-left: 6px;
    }

    .NewButtonIcon {
        height: 25px;
    }
}
