.DirectoryTreeWrapper {
    position: relative;
}

.DirectoryWrapper, .FileWrapper {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.DirectoryName, .FileName {
    margin-left: 3px;
}

.DirectoryIcon, .FileIcon {
    height: 20px;
}

.ExpandIcon, .CollapseIcon {
    padding-right: 5px;
}
