:root {
    --expand-icon-size: 18px;
    --expand-icon-h-padding: 5px;
}

.DirectoryTreeWrapper {
    position: relative;
}

.DirectoryWrapper, .FileWrapper {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.DirectoryNodesWrapper {
    margin-left: 10px;
}

.DirectoryName, .FileName {
    margin-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DirectoryIcon, .FileIcon {
    height: 20px;
}

.FileIcon {
    padding-left: calc(var(--expand-icon-size) + var(--expand-icon-h-padding));
}

.ExpandIcon, .CollapseIcon {
    height: var(--expand-icon-size);
    padding-right: var(--expand-icon-h-padding);
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    :root {
        --expand-icon-size: 30px;
        --expand-icon-h-padding: 5px;
    }

    .ExpandIcon, .CollapseIcon {
        padding: 4px var(--expand-icon-h-padding);
    }

    .FileWrapper {
        padding: 2px 0;
    }

    .DirectoryWrapper {
        padding: 0;
    }
}
